<!doctype html>
<html lang="en">
  <head>
  	<title>Table</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	

	</head>
	<body style="background-color: #232323;">
        <div style="background-color: #313131; width: 100%;">
            <div class="container">
               <table style="width: 100%;">
                  <tr style="width: 100%;">
                     <td style="width: 50%;">
                        <a href="/home" style="text-decoration:none;">
                           <h1 style="color: #FFFFFF;">PELISLINE</h1>
                        </a>
                     </td>
                     <td style="width:50%; text-align:right;padding-bottom: 10px;padding-right: 50px;">
                        <h2 style="color: gainsboro;">#Usuario#</h2>
                     </td>
                     <td style="width: 50%; text-align: right;">
                        <a style="text-decoration: none;" href="/logout"><button type="button" class="btn btn-secondary">Cerrar Sesion</button></a>
                     </td>
                  </tr>
               </table>
            </div>
        </div>
        <p></p>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-left">
				<div class="col-md-6 text-left mb-5">
					<div class="form-group" style="text-align: left; color: #FFFFFF;">
                        <label for="exampleInputEmail1"><h4>Buscar Usuario</h4></label>
                        <input type="text" class="form-control" id="BuscarUsuario" aria-describedby="emailHelp" placeholder="Search">
                    </div>
				</div>
			</div>
            <p></p>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table table-dark table-bordered" style="color: #FFFFFF; text-align: center;">
						  <thead>
						    <tr>
						      <th><h3>Nombre de usuario</h3></th>
						      <th><h3>Rol</h3></th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <th scope="row">#Nombre_Usuario#</th>
						      <td>
                                <button type="button" class="btn btn-secondary" style="color: #000000;">#Admin/Usuario#</button>
                            </td>
						    </tr>
                            <tr>
                                <th scope="row">#Nombre_Usuario#</th>
                                <td>
                                    <button type="button" class="btn btn-secondary" style="color: #000000;">#Admin/Usuario#</button>
                              </td>
                            </tr>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<link rel="stylesheet" href="/resources/css/bootstrap.css">
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/bootstrap-theme.min.css">

	</body>
</html>

